body {
    font-family: Arial, sans-serif;
    background-image: url(academia.jpg);
    background-size: cover;
    background-position: center;
     margin: 0;
    padding: 20px;
    color: #333;
}
h1, h2 {
    text-align: center;
    color: white; /* Cor do texto alterada para branco */
    background: rgba(0, 0, 0, 0.5); /* Fundo escuro semi-transparente para contraste */
    padding: 10px; /* Espaço ao redor do texto */
    border-radius: 5px; /* Bordas arredondadas */
    margin: 0; /* Remove margem padrão */
}
form, #pesquisa {
    max-width: 600px;
    margin: auto;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}
input, select {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
    font-size: 16px;
}
button {
    background-color: #007bff;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}
button:hover {
    background-color: #0056b3;
}
#exercicio-lista {
    max-width: 600px;
    margin: auto;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f8f9fa;
    color: #333;
}
td {
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
}
input, textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
    font-size: 16px;
    box-sizing: border-box; /* Para garantir que o padding não afete a largura total */
}
